body {font-family: 'Arial'; font-size: 16px;}

.canvas {width: 100%; max-width: 500px; margin: 50px auto 0;padding: 10px 30px; border: 2px dashed #ccc;}

.content {width: 50%; margin: 0 auto; padding: 20px;}
.title {margin: 30px 0 20px;}
.btn {display: inline-block; background-color: #3F82DE; color: #fff; border-radius: 4px; padding: 8px 15px; text-decoration: none; margin: 10px;  -webkit-transition: all ease-in-out .2s; transition: all ease-in-out .2s;}
.btn:hover {opacity: .85;}

.multientry-item {position: relative; margin: 10px 0;}
.multientry-item input {width: 100%;}
.multientry-item .icon-close {position: absolute; right: -20px; top: 0;}
.icon-close:after {content:'×'; cursor: pointer; font-weight: bold; color: #000;}

.disabled,
.disabled:hover {background: #ccc; cursor: default; opacity: 1;}

.multientry-error {color: #DB2020; font-weight: bold; font-size: 1.15em;}


